/* Para que se respeten los heigth width */
* {
    box-sizing: border-box;

}

#marco-general {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 10px grey;

}

body {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: bold;
    margin: 0;
    padding: 0;
    background-color: black;

}

header {
    padding: 40px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    background-image: url("https://www.infobae.com/new-resizer/-zqFipJ4lnCkqIYOtrqxkgJr6AQ=/1440x960/filters:format(webp):quality(85)/cloudfront-us-east-1.images.arcpublishing.com/infobae/H5EP2HSF3RCURNLRXOETIZZEM4.jpg");
}

header h1 {
    color: rgb(0, 0, 0);


}
div .icono {
    width: 100px;
    height: 100px;

}

div .icono img {
    width: 100px;

    position: relative;
    border-radius: 50%;
    color: #4c5b5e;
}

div .ico img {
    width: 20px;
    height: 20px;


}

nav {
    display: flex;
    flex-direction: row;
    background-color: #333;
    justify-content: center;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

aside {
    flex: 30px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

#productos {
    display: flex;
    gap: 15px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    text-align: center;
    background-color: #fff;
    padding: 10px;
}

.card img {
    max-width: 65%;
    border-radius: 5px 5px 0 0;
}

.card h3 {
    margin: 15px 0 10px;
}

.card p {
    margin: 10px 0;
}

.card button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.card button:hover {
    background-color: #45a049;
}

@media screen and (max-width: 700px) {

    nav,
    .row {
        flex-direction: column;
    }
}